<ion-header>
  <ion-navbar>
    <ion-title>
      Paper-bingo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
      <ion-row  *ngFor="let i of board">
        <ion-col  *ngFor="let j of i">
            <ion-item (click)="tapButton($event, j)">{{j}}</ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>


    <!-- Bind the click event to a method -->
  <button ion-button (click)="startGame($event)">
    Start!
  </button>

  <button ion-button (click)="shuffle($event)" [disabled]="btShuffleDisabled">
    Shuffle!
  </button>

</ion-content>
